/* Custom progress bar styling */
.progress-bar-container {
  width: 100%;
  background-color: lightgray;
  border-radius: 5px;
  height: 30px;
}

.progress-bar {
  height: 100%;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: white;
}
/* Custom CSS for st.toggle() */
.st-toggle {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
}

/* Custom CSS for st.toggle() */

/* Custom CSS for enlarging and centering buttons */
div.stButton > button {
  width: 200px; /* Adjust width */
  height: 50px; /* Adjust height */
  font-size: 18px; /* Adjust font size */
  background-color: #4caf50; /* Button color */
  color: white;
  border-radius: 10px; /* Rounded corners */
  border: none;
  display: block;
  margin: auto; /* Center the button horizontally */
}
